ReCServices/Service References/WS_SEND_EventService/EventService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://astus.com/service/event/2010/11" xmlns:s1="http://astus.com/service/2010/11" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s2="http://astus.com/services/event/2010/11" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://astus.com/service/event/2010/11" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://astus.com/service/event/2010/11">
      <s:import namespace="http://astus.com/service/2010/11" />
      <s:import namespace="http://astus.com/services/event/2010/11" />
      <s:element name="GetTripEvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EventRequest" type="tns:EventRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EventRequest">
        <s:complexContent mixed="false">
          <s:extension base="s1:AuthenticatedRequest">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="StartDateTime" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="EndDateTime" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Vehicles" nillable="true" type="tns:ArrayOfInt" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="GetTripEventResponse">
        <s:complexContent mixed="false">
          <s:extension base="s1:MessageBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="TripEvents" nillable="true" type="tns:ArrayOfTripEvent" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfTripEvent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TripEvent" nillable="true" type="tns:TripEvent" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TripEvent">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VehicleID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EmployeeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DriveTime" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Distance" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalIdleTime" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EndTripIdleTime" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StopTime" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxSpeed" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxRpm" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EndTripOdometer" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="EndTripMotorTime" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="OverRpmTime" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OverSpeedTime" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OverAccTime" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OverDecTime" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StartPositionEvent" nillable="true" type="s2:PositionEvent" />
          <s:element minOccurs="1" maxOccurs="1" name="EndPositionEvent" nillable="true" type="s2:PositionEvent" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="VehicleState">
        <s:restriction base="s:string">
          <s:enumeration value="Moving" />
          <s:enumeration value="Disarmed" />
          <s:enumeration value="Armed" />
          <s:enumeration value="Idle" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTripEventResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTripEventResponse" type="tns:GetTripEventResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTripAccessoryEvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EventRequest" type="tns:EventRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTripAccessoryEventResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccessoryEventResponse" type="tns:GetAccessoryEventResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetAccessoryEventResponse">
        <s:complexContent mixed="false">
          <s:extension base="s1:MessageBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="AccessoryEvents" nillable="true" type="tns:ArrayOfAccessoryEvent" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfAccessoryEvent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AccessoryEvent" nillable="true" type="tns:AccessoryEvent" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AccessoryEvent">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AccessoryID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VehicleID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EventDateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TripEventID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TripEventDistance" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Odometer" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AccessoryState" type="tns:AccessoryState" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Value" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="TextValue" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ChoiceText" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ChoiceValue" nillable="true" type="s:short" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="AccessoryState">
        <s:restriction base="s:string">
          <s:enumeration value="Low" />
          <s:enumeration value="High" />
          <s:enumeration value="Normal" />
          <s:enumeration value="Ponctuel" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetTripPositionEvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTripPositionEventRequest" type="tns:GetTripPositionEventRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetTripPositionEventRequest">
        <s:complexContent mixed="false">
          <s:extension base="s1:AuthenticatedRequest">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="TripEventID" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetTripPositionEventResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPositionEventResponse" type="tns:GetPositionEventResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetPositionEventResponse">
        <s:complexContent mixed="false">
          <s:extension base="s1:MessageBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="PositionEvents" nillable="true" type="tns:ArrayOfPositionEvent" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfPositionEvent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PositionEvent" nillable="true" type="s2:PositionEvent" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPositionEvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EventRequest" type="tns:EventRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPositionEventResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPositionEventResponse" type="tns:GetPositionEventResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccessoryEvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EventRequest" type="tns:EventRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccessoryEventResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccessoryEventResponse" type="tns:GetAccessoryEventResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://astus.com/service/2010/11">
      <s:complexType name="AuthenticatedRequest">
        <s:complexContent mixed="false">
          <s:extension base="s1:MessageBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="UnsafeToken" type="s1:Token" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="MessageBase" abstract="true" />
      <s:complexType name="Token">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://astus.com/services/event/2010/11">
      <s:import namespace="http://astus.com/service/event/2010/11" />
      <s:complexType name="PositionEvent">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="VehicleID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TripEventID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Distance" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="GPSDateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Heading" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="Speed" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="IsGPSValid" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="TimeSpan" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VehicleState" type="tns:VehicleState" />
          <s:element minOccurs="1" maxOccurs="1" name="IsOverSpeed" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="VehicleName" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ClosestLocation" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EmployeeID" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTripEventSoapIn">
    <wsdl:part name="parameters" element="tns:GetTripEvent" />
  </wsdl:message>
  <wsdl:message name="GetTripEventSoapOut">
    <wsdl:part name="parameters" element="tns:GetTripEventResponse" />
  </wsdl:message>
  <wsdl:message name="GetTripAccessoryEventSoapIn">
    <wsdl:part name="parameters" element="tns:GetTripAccessoryEvent" />
  </wsdl:message>
  <wsdl:message name="GetTripAccessoryEventSoapOut">
    <wsdl:part name="parameters" element="tns:GetTripAccessoryEventResponse" />
  </wsdl:message>
  <wsdl:message name="GetTripPositionEventSoapIn">
    <wsdl:part name="parameters" element="tns:GetTripPositionEvent" />
  </wsdl:message>
  <wsdl:message name="GetTripPositionEventSoapOut">
    <wsdl:part name="parameters" element="tns:GetTripPositionEventResponse" />
  </wsdl:message>
  <wsdl:message name="GetPositionEventSoapIn">
    <wsdl:part name="parameters" element="tns:GetPositionEvent" />
  </wsdl:message>
  <wsdl:message name="GetPositionEventSoapOut">
    <wsdl:part name="parameters" element="tns:GetPositionEventResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccessoryEventSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccessoryEvent" />
  </wsdl:message>
  <wsdl:message name="GetAccessoryEventSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccessoryEventResponse" />
  </wsdl:message>
  <wsdl:portType name="EventContract">
    <wsdl:operation name="GetTripEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permet d'obtenir la liste des événements de trajets // Get the list of trip events</wsdl:documentation>
      <wsdl:input message="tns:GetTripEventSoapIn" />
      <wsdl:output message="tns:GetTripEventSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTripAccessoryEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pemet d'obtenir la liste des événements d'accessoires // Get le list of accessory events</wsdl:documentation>
      <wsdl:input message="tns:GetTripAccessoryEventSoapIn" />
      <wsdl:output message="tns:GetTripAccessoryEventSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTripPositionEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Liste des positions GPS d'un trajet / Trip Event's position</wsdl:documentation>
      <wsdl:input message="tns:GetTripPositionEventSoapIn" />
      <wsdl:output message="tns:GetTripPositionEventSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPositionEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permet d'obtenir la liste des positions des véhicules pour une période de temps // Get the position list of vehicle for a certain period</wsdl:documentation>
      <wsdl:input message="tns:GetPositionEventSoapIn" />
      <wsdl:output message="tns:GetPositionEventSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccessoryEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permet d'obtenir liste des événement d'accessoire en temps réels pour une période de temps // Get the list of realtime accessory event for a period</wsdl:documentation>
      <wsdl:input message="tns:GetAccessoryEventSoapIn" />
      <wsdl:output message="tns:GetAccessoryEventSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EventContract" type="tns:EventContract">
    <wsdl:documentation>
      <wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.1" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" />
    </wsdl:documentation>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTripEvent">
      <soap:operation soapAction="http://astus.com/service/event/2010/11/EventContract/GetTripEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTripAccessoryEvent">
      <soap:operation soapAction="http://astus.com/service/event/2010/11/EventContract/GetTripAccessoryEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTripPositionEvent">
      <soap:operation soapAction="http://astus.com/service/event/2010/11/EventContract/GetTripPositionEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPositionEvent">
      <soap:operation soapAction="http://astus.com/service/event/2010/11/EventContract/GetPositionEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccessoryEvent">
      <soap:operation soapAction="http://astus.com/service/event/2010/11/EventContract/GetAccessoryEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EventContract1" type="tns:EventContract">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTripEvent">
      <soap12:operation soapAction="http://astus.com/service/event/2010/11/EventContract/GetTripEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTripAccessoryEvent">
      <soap12:operation soapAction="http://astus.com/service/event/2010/11/EventContract/GetTripAccessoryEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTripPositionEvent">
      <soap12:operation soapAction="http://astus.com/service/event/2010/11/EventContract/GetTripPositionEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPositionEvent">
      <soap12:operation soapAction="http://astus.com/service/event/2010/11/EventContract/GetPositionEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccessoryEvent">
      <soap12:operation soapAction="http://astus.com/service/event/2010/11/EventContract/GetAccessoryEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventService">
    <wsdl:port name="EventContract" binding="tns:EventContract">
      <soap:address location="http://dews.astus.com/2010/11/EventService.asmx" />
    </wsdl:port>
    <wsdl:port name="EventContract1" binding="tns:EventContract1">
      <soap12:address location="http://dews.astus.com/2010/11/EventService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>