ReCServices/Service References/WS_Trackjack_Service/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.trackjack.mx/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.trackjack.mx/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.trackjack.mx/">
      <s:element name="PosicionesIndividual">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Economico" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PosicionesIndividualResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PosicionesIndividualResult" type="tns:ArrayOfTrackJackData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTrackJackData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TrackJackData" type="tns:TrackJackData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TrackJackData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GpsID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnitId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Latitude" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Longitude" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Altitude" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Odometer" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="SpeedGps" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Course" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NumSate" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Ignition" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="DateGps" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnitPlate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdGps" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EventDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Evento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Azimuth" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="direccion" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="PosicionesTodos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PosicionesTodosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PosicionesTodosResult" type="tns:ArrayOfTrackJackData" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PosicionesIndividualSoapIn">
    <wsdl:part name="parameters" element="tns:PosicionesIndividual" />
  </wsdl:message>
  <wsdl:message name="PosicionesIndividualSoapOut">
    <wsdl:part name="parameters" element="tns:PosicionesIndividualResponse" />
  </wsdl:message>
  <wsdl:message name="PosicionesTodosSoapIn">
    <wsdl:part name="parameters" element="tns:PosicionesTodos" />
  </wsdl:message>
  <wsdl:message name="PosicionesTodosSoapOut">
    <wsdl:part name="parameters" element="tns:PosicionesTodosResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="PosicionesIndividual">
      <wsdl:input message="tns:PosicionesIndividualSoapIn" />
      <wsdl:output message="tns:PosicionesIndividualSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PosicionesTodos">
      <wsdl:input message="tns:PosicionesTodosSoapIn" />
      <wsdl:output message="tns:PosicionesTodosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PosicionesIndividual">
      <soap:operation soapAction="http://www.trackjack.mx/PosicionesIndividual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PosicionesTodos">
      <soap:operation soapAction="http://www.trackjack.mx/PosicionesTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PosicionesIndividual">
      <soap12:operation soapAction="http://www.trackjack.mx/PosicionesIndividual" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PosicionesTodos">
      <soap12:operation soapAction="http://www.trackjack.mx/PosicionesTodos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://187.174.181.83/wstrackjack2016/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://187.174.181.83/wstrackjack2016/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>